.venue-page-div {
    width: 550px;
    height: stretch;
    border-radius: 5px;
    margin: 10px;
    border: 2px solid #808080;
    background-color: #FFFAF0; 

}

.event-listings {
    display: flex;
    justify-content: center;
}

.venue-info {
}
.headline {
    text-align: center;
}

.event-page-description {
    text-align: center;
    margin: 10px;
}
.venue-image {
    max-height: 200px;
    width: auto;
}
